.bgsquare{
    background-image: url('../../assets/square.png');
    background-position: center;
    background-repeat: no-repeat;
    
}

@media (max-width: 600px) {
    .bgsquare {
      background-image: url('../../assets/square2.png');
      background-position: center bottom 100px;
      background-repeat: no-repeat;
      

    }
  }

